body {
	background-color: #E8E4E0;
	background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAMCAYAAACji9dXAAAAE0lEQVQI12NgIARYmBgYGBiwEQABOgAPmGpdYwAAAABJRU5ErkJggg==");
}

.cube_display {
	height: 80vh;
}
